section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  margin: 20px ;
  border: 5px solid blue;
  padding: 20px;
  width: 200px;
  height: 200px;
  background-color: rgb(150, 213, 235);
}
